<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

ErrorDocument 404 https://example.com/404

# DirectoryIndex privacy-policy.html

Options -MultiViews
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteCond %{HTTPS}  !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]