.main {
    background-color: #00000000;
    width: 100%;
    display: flex;
    vertical-align: middle;
    flex-direction: row;
    margin-top: 5px;

    .backArrow {
        margin-left: 10px;
        height: 35px;
        width: 35px;
        padding: 8px;
        color: white;
    }

    .headingBack {
        text-align: left;
        vertical-align: middle;
        margin-left: 10px;
        margin: auto;
        font-weight: bold;
        font-size: 16px;
    }

}